<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User Management Application</title>
</head>
<body>
<input type="button" value="Logout"
       onclick="window.location.href='/logout'; return false;"/>
<center>
    <h1>User Management</h1>
    <h2>
        <a href="/admin/addd">Add New User</a>
        &nbsp;&nbsp;&nbsp;
<!--        <a th:href="@{'/admin/add'}">Add New User</a>-->
        <a href="/admin">List All Users</a>
    </h2>
</center>
<div align="center">
    <table border="1" cellpadding="5">
        <caption><h2>List of Users</h2></caption>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>Roles</th>
            <th>Actions</th>

        </tr>
            <tr th:each="user : ${usersList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.password}"></td>
                <td th:each="role : ${user.roles}" th:text=${role.role}></td>

                <td>
                    <a th:href="@{'/admin/edit/' + ${user.id}}">edit</a>
                    <a th:href="@{'/admin/delete/' + ${user.id}}">delete</a>
<!--                    <a th:href="@{/admin/edit/${user.id}}"/>edit</a>-->
<!--                    <a th:href="/admin/delete/${user.id}"/>delete</a>-->
                </td>
            </tr>
    </table>
</div>
</body>
</html>